<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
      <a class="navbar-brand" >Books</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/books"  >Книги</a></li>
      <li routerLinkActive="active"><a routerLink="/words"  >Словарь</a></li>
      <li routerLinkActive="active"><a routerLink="/about"  >О сайте</a></li>
    </ul>
    <button (click)="onClick()" type="button" class="btn btn-default navbar-btn navbar-right">Войти</button>
  </div>
</nav>
