<div class="container">
  <div class="row">
    <div class="col-md-3 panel panel-default" routerLink="/reader">
      <div class="panel-body">
        <img src="http://ozon-st.cdn.ngenix.net/multimedia/1000479101.jpg" alt="">
        Невероятно важная и интересная инфа
      </div>
    </div>
    <div class="col-md-3 panel panel-default">
      <div class="panel-body">
        <img src="http://ozon-st.cdn.ngenix.net/multimedia/1000479101.jpg" alt="">
        Невероятно важная и интересная инфа
      </div>
    </div>
    <div class="col-md-3 panel panel-default">
      <div class="panel-body">
        <img src="http://ozon-st.cdn.ngenix.net/multimedia/1000479101.jpg" alt="">
        Невероятно важная и интересная инфа
      </div>
    </div>
    <div class="col-md-3 panel panel-default">
      <div class="panel-body">
        <img src="http://ozon-st.cdn.ngenix.net/multimedia/1000479101.jpg" alt="">
        Невероятно важная и интересная инфа
      </div>
    </div>

  </div>
</div>

